.btn{
    background-color: mediumvioletred;
    border: none;
    color: mintcream;
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 20px;
}
.btn:hover{
    background-color: rgb(207, 78, 160);
}
.btn:active{
    background-color: rgb(158, 14, 105);
}